<!DOCTYPE html>
<html>
<head>
    <title>Stratus Lift</title>
</head>
<body>
    <header>
        <h1>Stratus Lift</h1>
        <nav>
            <a href="{% url 'task_list' %}">Задачи</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
